<div>
  <h2>Platform Families</h2>

  <table>
    <tr>
      <th></th>
      <th>Name</th>
    </tr>
    <% @platform_families.each do |family| %>
    <tr>
      <td><%= family.id %></td>
      <td><%= link_to(family.name, platform_family_path(family), action: 'show', class: 'nav-link') %></td>
    </tr>
    <% end %>
  </table>
</div>
