---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - ef6826a6592a1fd396afecc843e3760d
      X-Psn-Correlation-Id:
      - 52f70b92-f008-4e94-98bf-daed4f47ae86
      X-Requestid:
      - ef6826a6592a1fd396afecc843e3760d
      X-Correlationid:
      - 52f70b92-f008-4e94-98bf-daed4f47ae86
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=52f70b92-f008-4e94-98bf-daed4f47ae86
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 24 Mar 2023 09:58:38 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.qyjRL2&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - c85b99fe37c8850ab1abf4c5e73c3e34
      X-Psn-Correlation-Id:
      - 3e5842ae-bf42-49aa-bd06-6919b7eb7de6
      X-Requestid:
      - c85b99fe37c8850ab1abf4c5e73c3e34
      X-Correlationid:
      - 3e5842ae-bf42-49aa-bd06-6919b7eb7de6
    body:
      encoding: UTF-8
      string: '{"access_token":"<PSN_TOKEN>","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 24 Mar 2023 09:58:38 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/me/trophyTitles?limit=10&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophyTitles":[{"npServiceName":"trophy","npCommunicationId":"NPWR10258_00","trophySetVersion":"01.02","trophyTitleName":"Dungeons
        2","trophyTitleDetail":"Dungeons 2","trophyTitleIconUrl":"https://image.api.playstation.com/trophy/np/NPWR10258_00_0058585F08CB7F2AF947F9EABD6D88FCA35AD5D205/1F68A03ABFCACE82C494917A136F039BE5B3DAE4.PNG","trophyTitlePlatform":"PS4","hasTrophyGroups":false,"definedTrophies":{"bronze":4,"silver":7,"gold":8,"platinum":1},"progress":78,"earnedTrophies":{"bronze":4,"silver":6,"gold":6,"platinum":0},"hiddenFlag":false,"lastUpdatedDateTime":"2023-03-23T22:20:19Z"},{"npServiceName":"trophy","npCommunicationId":"NPWR11783_00","trophySetVersion":"01.01","trophyTitleName":"Victor
        Vran","trophyTitleDetail":"Trophy collection for Victor Vran","trophyTitleIconUrl":"https://image.api.playstation.com/trophy/np/NPWR11783_00_0014F4ED80ACF59CBDD6F2D8DAF254B99E1D8B1814/463F610C90FC5412C4FF18B655B9652FC4CD0E42.PNG","trophyTitlePlatform":"PS4","hasTrophyGroups":true,"definedTrophies":{"bronze":52,"silver":16,"gold":2,"platinum":1},"progre[...]
