---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 2ae0030f31383839ceb4335f85a66b9a
      X-Psn-Correlation-Id:
      - a1885ae5-af5e-4f5b-a626-1241e875d61a
      X-Requestid:
      - 2ae0030f31383839ceb4335f85a66b9a
      X-Correlationid:
      - a1885ae5-af5e-4f5b-a626-1241e875d61a
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=a1885ae5-af5e-4f5b-a626-1241e875d61a
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 24 Mar 2023 09:58:29 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.MwJWzM&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 9100f8f638cbad018dd4e670be74436c
      X-Psn-Correlation-Id:
      - d9bf9f21-2d3a-4e49-8737-c7341155e14d
      X-Requestid:
      - 9100f8f638cbad018dd4e670be74436c
      X-Correlationid:
      - d9bf9f21-2d3a-4e49-8737-c7341155e14d
    body:
      encoding: UTF-8
      string: '{"access_token":"<PSN_TOKEN>","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 24 Mar 2023 09:58:29 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/me/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"accountId":"1934325343656948326","trophyLevel":418,"progress":91,"tier":5,"earnedTrophies":{"bronze":4274,"silver":1395,"gold":469,"platinum":91}}'
  recorded_at: Fri, 24 Mar 2023 09:58:30 GMT
recorded_with: VCR 6.1.0
