---
http_interactions:
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/me/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <IGDB_TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="PSN"
    body:
      encoding: UTF-8
      string: '{"error":{"referenceId":"b2b20f74-9915-11ed-99a6-1d746448ae37","code":2241025,"message":"Invalid
        token"}}'
  recorded_at: Fri, 20 Jan 2023 22:56:37 GMT
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 95a5075e80efcb016d9a3f1164c7da06
      X-Psn-Correlation-Id:
      - 9f484fbf-0549-464c-8a30-3593c5554964
      X-Requestid:
      - 95a5075e80efcb016d9a3f1164c7da06
      X-Correlationid:
      - 9f484fbf-0549-464c-8a30-3593c5554964
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=9f484fbf-0549-464c-8a30-3593c5554964
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 20 Jan 2023 22:56:37 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.oPWFlA&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 02144a9a834174f18bb6cf6dec8cf33b
      X-Psn-Correlation-Id:
      - 45f075df-f352-4a07-80f0-6c9e3ea5a950
      X-Requestid:
      - 02144a9a834174f18bb6cf6dec8cf33b
      X-Correlationid:
      - 45f075df-f352-4a07-80f0-6c9e3ea5a950
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 20 Jan 2023 22:56:37 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/me/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"accountId":"1934325343656948326","trophyLevel":410,"progress":0,"tier":5,"earnedTrophies":{"bronze":4070,"silver":1316,"gold":429,"platinum":81}}'
  recorded_at: Fri, 20 Jan 2023 22:56:38 GMT
recorded_with: VCR 6.1.0
