---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.playstation.PlayStationApp://redirect&response_type=code&scope=psn:mobile.v1%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 2f2f6299dfdf8871792c9558ed812e98
      X-Psn-Correlation-Id:
      - ad9bb172-8fca-4c11-a9e8-48f145b065c4
      X-Requestid:
      - 2f2f6299dfdf8871792c9558ed812e98
      X-Correlationid:
      - ad9bb172-8fca-4c11-a9e8-48f145b065c4
      Location:
      - com.playstation.PlayStationApp://redirect/?code=v1.Ab23CD&cid=ad9bb172-8fca-4c11-a9e8-48f145b065c4
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 19 Aug 2022 14:18:43 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: client_id=<PSN_CLIENT_ID>&client_secret=&code=v3.sfbXqo&grant_type=authorization_code&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&scope=psn%3Amobile.v1+psn%3Aclientapp&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 633a82cf025f95a969b0786d9bd71b7b
      X-Psn-Correlation-Id:
      - 76efc11a-acc4-4c48-839a-adaeee6db2f4
      X-Requestid:
      - 633a82cf025f95a969b0786d9bd71b7b
      X-Correlationid:
      - 76efc11a-acc4-4c48-839a-adaeee6db2f4
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v1
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 19 Aug 2022 14:18:44 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/me/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"accountId":"6588603711421927529","trophyLevel":416,"progress":37,"tier":5,"earnedTrophies":{"bronze":4404,"silver":1324,"gold":463,"platinum":82}}'
  recorded_at: Fri, 19 Aug 2022 14:18:44 GMT
recorded_with: VCR 6.1.0
