---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<IGDB_CLIENT_ID>&client_secret=<IGDB_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-641d743f-20868eba2c08fa7e2584e59a
    body:
      encoding: UTF-8
      string: '{"access_token":"<IGDB_TOKEN>","expires_in":5442039,"token_type":"bearer"}

        '
  recorded_at: Fri, 24 Mar 2023 09:58:22 GMT
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: fields name, platforms.name, genres.name;search "The Last of Us";limit
        20;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer <IGDB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 5bf10460-636d-4f4f-b26a-b574cdb7ee8e
      X-Amzn-Remapped-Content-Length:
      - '441'
      X-Amz-Apigw-Id:
      - CR8aIF-RPHcFeYw=
      X-Count:
      - '16'
      X-Amzn-Remapped-Date:
      - Fri, 24 Mar 2023 09:58:24 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 26192,
            "genres": [
              {
                "id": 5,
                "name": "Shooter"
              },
              {
                "id": 31,
                "name": "Adventure"
              }
            ],
            "name": "The Last of Us Part II",
            "platforms": [
              {
                "id": 48,
                "name": "PlayStation 4"
              }
            ]
          },
          {
            "id": 1009,
            "genres": [
              {
                "id": 5,
                "name": "Shooter"
              },
              {
                "id": 31,
                "name": "Adventure"
              }
            ],
            "name": "The Last of Us",
            "platforms": [
              {
                "id": 9,
     [...]
