---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<IGDB_CLIENT_ID>&client_secret=<IGDB_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-62950436-308a43a493d7216212148061
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","expires_in":5314769,"token_type":"bearer"}

        '
  recorded_at: Mon, 30 May 2022 17:51:49 GMT
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: fields name, platforms.name, genres.name;search "The Last of Us";limit
        20;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer accesstoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Amzn-Requestid:
      - f0c3deaa-9acc-428f-9a86-b0d280c85253
      X-Amzn-Remapped-Content-Length:
      - '365'
      X-Amz-Apigw-Id:
      - S82YuHADvHcFtCQ=
      X-Amzn-Remapped-Server:
      - Javalin
      X-Count:
      - '13'
      X-Amzn-Remapped-Date:
      - Mon, 30 May 2022 17:51:51 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 26192,
            "genres": [
              {
                "id": 5,
                "name": "Shooter"
              },
              {
                "id": 31,
                "name": "Adventure"
              }
            ],
            "name": "The Last of Us Part II",
            "platforms": [
              {
                "id": 48,
                "name": "PlayStation 4"
              }
            ]
          },
          {
            "id": 1009,
            "genres": [
              {
                "id": 5,
                "name": "Shooter"
              },
              {
                "id": 31,
                "name": "Adventure"
              }
            ],
            "name": "The Last of Us",
            "platforms": [
              {
                "id": 9,
     [...]
