---
http_interactions:
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: fields name, platforms.name, genres.name;search "The Last of Us";limit
        20;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer accesstoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Amzn-Requestid:
      - d7d7a265-15f8-46h7-ba42-40834cf62d24
      X-Amzn-Remapped-Content-Length:
      - '365'
      X-Amz-Apigw-Id:
      - Sb_cuGdjPHcF9Fg=
      X-Amzn-Remapped-Server:
      - Javalin
      X-Count:
      - '13'
      X-Amzn-Remapped-Date:
      - Fri, 20 May 2022 18:35:48 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 26192,
            "genres": [
              {
                "id": 5,
                "name": "Shooter"
              },
              {
                "id": 31,
                "name": "Adventure"
              }
            ],
            "name": "The Last of Us Part II",
            "platforms": [
              {
                "id": 48,
                "name": "PlayStation 4"
              }
            ]
          },
          {
            "id": 1009,
            "genres": [
              {
                "id": 5,
                "name": "Shooter"
              },
              {
                "id": 31,
                "name": "Adventure"
              }
            ],
            "name": "The Last of Us",
            "platforms": [
              {
                "id": 9,
     [...]
