---
http_interactions:
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/me/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fake_expired_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="PSN"
    body:
      encoding: UTF-8
      string: '{"error":{"referenceId":"6ef7e44f-ca2a-11ed-ae93-ab6a4d27a120","code":2241025,"message":"Invalid
        token"}}'
  recorded_at: Fri, 24 Mar 2023 09:58:30 GMT
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 675e0a1c0adf68e0a8cb555c30885485
      X-Psn-Correlation-Id:
      - '009aa13e-7fa2-4794-86bf-6a67cd7418a6'
      X-Requestid:
      - 675e0a1c0adf68e0a8cb555c30885485
      X-Correlationid:
      - '009aa13e-7fa2-4794-86bf-6a67cd7418a6'
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=009aa13e-7fa2-4794-86bf-6a67cd7418a6
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 24 Mar 2023 09:58:31 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.HOk5eu&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 2e243375485ae93c53bdc8fd9bad1113
      X-Psn-Correlation-Id:
      - d75236a2-f7cb-402f-8790-516755d1d9a3
      X-Requestid:
      - 2e243375485ae93c53bdc8fd9bad1113
      X-Correlationid:
      - d75236a2-f7cb-402f-8790-516755d1d9a3
    body:
      encoding: UTF-8
      string: '{"access_token":"<PSN_TOKEN>","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 24 Mar 2023 09:58:31 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/me/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"accountId":"1934325343656948326","trophyLevel":418,"progress":91,"tier":5,"earnedTrophies":{"bronze":4274,"silver":1395,"gold":469,"platinum":91}}'
  recorded_at: Fri, 24 Mar 2023 09:58:31 GMT
recorded_with: VCR 6.1.0
