---
http_interactions:
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/me/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fake_expired_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="PSN"
    body:
      encoding: UTF-8
      string: '{"error":{"referenceId":"d5b3eed4-1fc9-11ed-927a-6f852edc412a","code":2241025,"message":"Invalid
        token"}}'
  recorded_at: Fri, 19 Aug 2022 14:18:44 GMT
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.playstation.PlayStationApp://redirect&response_type=code&scope=psn:mobile.v1%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 0a6569bc4fabbe89925ad65c24dd08c0
      X-Psn-Correlation-Id:
      - f64d286f-370d-44bf-a271-d27c3746215d
      X-Requestid:
      - 0a6569bc4fabbe89925ad65c24dd08c0
      X-Correlationid:
      - f64d286f-370d-44bf-a271-d27c3746215d
      Location:
      - com.playstation.PlayStationApp://redirect/?code=v1.Ab23CD&cid=f64d286f-370d-44bf-a271-d27c3746215d
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 19 Aug 2022 14:18:45 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: client_id=<PSN_CLIENT_ID>&client_secret=&code=v3.6gserD&grant_type=authorization_code&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&scope=psn%3Amobile.v1+psn%3Aclientapp&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 5a9b3ec60af14d9a1bbdf0420acffe2c
      X-Psn-Correlation-Id:
      - c6dff3b3-b1f1-42a2-9e0c-f3e722469630
      X-Requestid:
      - 5a9b3ec60af14d9a1bbdf0420acffe2c
      X-Correlationid:
      - c6dff3b3-b1f1-42a2-9e0c-f3e722469630
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v1
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 19 Aug 2022 14:18:45 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/me/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"accountId":"6588603711421927529","trophyLevel":416,"progress":37,"tier":5,"earnedTrophies":{"bronze":4404,"silver":1324,"gold":463,"platinum":82}}'
  recorded_at: Fri, 19 Aug 2022 14:18:46 GMT
recorded_with: VCR 6.1.0
