---
http_interactions:
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/me/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fake_expired_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="PSN"
    body:
      encoding: UTF-8
      string: '{"error":{"referenceId":"b3b1f331-9915-11ed-9925-0f42a516664c","code":2241025,"message":"Invalid
        token"}}'
  recorded_at: Fri, 20 Jan 2023 22:56:38 GMT
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 3c492f5d99913f380c38e6e5995c3b43
      X-Psn-Correlation-Id:
      - 6ce39981-8ef7-44e2-9b39-3cab01ed8192
      X-Requestid:
      - 3c492f5d99913f380c38e6e5995c3b43
      X-Correlationid:
      - 6ce39981-8ef7-44e2-9b39-3cab01ed8192
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=6ce39981-8ef7-44e2-9b39-3cab01ed8192
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 20 Jan 2023 22:56:39 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.3tkJ0p&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - d5a33040c396cf8d22236d560b7f61e2
      X-Psn-Correlation-Id:
      - 2d3802d6-88ea-48d1-b2b9-9cdea5365a57
      X-Requestid:
      - d5a33040c396cf8d22236d560b7f61e2
      X-Correlationid:
      - 2d3802d6-88ea-48d1-b2b9-9cdea5365a57
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 20 Jan 2023 22:56:39 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/me/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"accountId":"1934325343656948326","trophyLevel":410,"progress":0,"tier":5,"earnedTrophies":{"bronze":4070,"silver":1316,"gold":429,"platinum":81}}'
  recorded_at: Fri, 20 Jan 2023 22:56:40 GMT
recorded_with: VCR 6.1.0
