---
http_interactions:
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/me/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fake_expired_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="PSN"
    body:
      encoding: UTF-8
      string: '{"error":{"referenceId":"b8c5ade2-9e48-11ed-a2ed-5dd393ad1e39","code":2241025,"message":"Invalid
        token"}}'
  recorded_at: Fri, 27 Jan 2023 13:44:28 GMT
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 2b8a05a8bdd6cf62a1a611e1e9de4010
      X-Psn-Correlation-Id:
      - e9a698cb-303c-43d0-94b3-5b677ead0db6
      X-Requestid:
      - 2b8a05a8bdd6cf62a1a611e1e9de4010
      X-Correlationid:
      - e9a698cb-303c-43d0-94b3-5b677ead0db6
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=e9a698cb-303c-43d0-94b3-5b677ead0db6
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Jan 2023 13:44:28 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.I8XWuK&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 49a0bcb6e10960c430d5c62a26dd21a1
      X-Psn-Correlation-Id:
      - d0b47b2b-397f-4edb-b17f-1035455578bc
      X-Requestid:
      - 49a0bcb6e10960c430d5c62a26dd21a1
      X-Correlationid:
      - d0b47b2b-397f-4edb-b17f-1035455578bc
    body:
      encoding: UTF-8
      string: '{"access_token":"<PSN_TOKEN>","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 27 Jan 2023 13:44:29 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/me/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"accountId":"1934325343656948326","trophyLevel":411,"progress":40,"tier":5,"earnedTrophies":{"bronze":4078,"silver":1333,"gold":433,"platinum":84}}'
  recorded_at: Fri, 27 Jan 2023 13:44:29 GMT
recorded_with: VCR 6.1.0
