---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - c9f1f4459e365cf1f2be1d157e7c0f91
      X-Psn-Correlation-Id:
      - 5bed200d-001b-4a27-a5b6-f8d4fd26e04f
      X-Requestid:
      - c9f1f4459e365cf1f2be1d157e7c0f91
      X-Correlationid:
      - 5bed200d-001b-4a27-a5b6-f8d4fd26e04f
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=5bed200d-001b-4a27-a5b6-f8d4fd26e04f
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 24 Mar 2023 09:58:32 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.grcg19&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 1460fb32fbc9e311059e130a1782e942
      X-Psn-Correlation-Id:
      - bc0f89c1-5c91-4681-8df8-d066dc22ed60
      X-Requestid:
      - 1460fb32fbc9e311059e130a1782e942
      X-Correlationid:
      - bc0f89c1-5c91-4681-8df8-d066dc22ed60
    body:
      encoding: UTF-8
      string: '{"access_token":"<PSN_TOKEN>","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 24 Mar 2023 09:58:32 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/me/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"accountId":"1934325343656948326","trophyLevel":418,"progress":91,"tier":5,"earnedTrophies":{"bronze":4274,"silver":1395,"gold":469,"platinum":91}}'
  recorded_at: Fri, 24 Mar 2023 09:58:33 GMT
recorded_with: VCR 6.1.0
