---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.playstation.PlayStationApp://redirect&response_type=code&scope=psn:mobile.v1%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 12b757df4c2da919d95aef11c7596e68
      X-Psn-Correlation-Id:
      - fca950a4-6216-4550-945a-9ee8d999bda9
      X-Requestid:
      - 12b757df4c2da919d95aef11c7596e68
      X-Correlationid:
      - fca950a4-6216-4550-945a-9ee8d999bda9
      Location:
      - com.playstation.PlayStationApp://redirect/?code=v1.Ab23CD&cid=fca950a4-6216-4550-945a-9ee8d999bda9
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 19 Aug 2022 14:19:14 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: client_id=<PSN_CLIENT_ID>&client_secret=&code=v3.pJD6jC&grant_type=authorization_code&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&scope=psn%3Amobile.v1+psn%3Aclientapp&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - f5dbf19af50300a610861fed82e7aec6
      X-Psn-Correlation-Id:
      - 3198b7c2-1427-4647-b2d5-6eb9edcc3e00
      X-Requestid:
      - f5dbf19af50300a610861fed82e7aec6
      X-Correlationid:
      - 3198b7c2-1427-4647-b2d5-6eb9edcc3e00
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v1
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 19 Aug 2022 14:19:14 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/me/trophySummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"accountId":"6588603711421927529","trophyLevel":416,"progress":37,"tier":5,"earnedTrophies":{"bronze":4404,"silver":1324,"gold":463,"platinum":82}}'
  recorded_at: Fri, 19 Aug 2022 14:19:14 GMT
recorded_with: VCR 6.1.0
