---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.playstation.PlayStationApp://redirect&response_type=code&scope=psn:mobile.v1%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 7020e20a46c265399f31b17630385897
      X-Psn-Correlation-Id:
      - 55831db3-3f8e-4756-9ed8-a0dc16ade9b5
      X-Requestid:
      - 7020e20a46c265399f31b17630385897
      X-Correlationid:
      - 55831db3-3f8e-4756-9ed8-a0dc16ade9b5
      Location:
      - com.playstation.PlayStationApp://redirect/?code=v1.Ab23CD&cid=55831db3-3f8e-4756-9ed8-a0dc16ade9b5
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 19 Aug 2022 14:48:40 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: client_id=<PSN_CLIENT_ID>&client_secret=&code=v3.febjSx&grant_type=authorization_code&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&scope=psn%3Amobile.v1+psn%3Aclientapp&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - d73d8d8fecd1e090c4c7f90af51c5ec3
      X-Psn-Correlation-Id:
      - 27b22012-39b9-4f0d-8b06-df52d30fd260
      X-Requestid:
      - d73d8d8fecd1e090c4c7f90af51c5ec3
      X-Correlationid:
      - 27b22012-39b9-4f0d-8b06-df52d30fd260
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v1
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 19 Aug 2022 14:48:40 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/me/npCommunicationIds/NPWR00160_00/trophyGroups/all/trophies?npServiceName=trophy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophySetVersion":"01.10","hasTrophyGroups":false,"lastUpdatedDateTime":"2022-06-30T22:05:34Z","trophies":[{"trophyId":0,"trophyHidden":false,"earned":false,"trophyType":"platinum","trophyRare":0,"trophyEarnedRate":"0.4"},{"trophyId":1,"trophyHidden":false,"earned":true,"earnedDateTime":"2020-04-01T14:24:00Z","trophyType":"bronze","trophyRare":3,"trophyEarnedRate":"75.2"},{"trophyId":2,"trophyHidden":false,"earned":true,"earnedDateTime":"2022-06-09T22:16:27Z","trophyType":"bronze","trophyRare":3,"trophyEarnedRate":"57.5"},{"trophyId":3,"trophyHidden":false,"earned":true,"earnedDateTime":"2022-06-10T07:08:27Z","trophyType":"bronze","trophyRare":2,"trophyEarnedRate":"44.3"},{"trophyId":4,"trophyHidden":false,"earned":true,"earnedDateTime":"2022-06-10T11:15:52Z","trophyType":"bron[...]
