---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 4177d19d187ea44d2b8bcba8c8f31158
      X-Psn-Correlation-Id:
      - 6f623fb4-bd6e-4de7-8bbe-ef453a88ab69
      X-Requestid:
      - 4177d19d187ea44d2b8bcba8c8f31158
      X-Correlationid:
      - 6f623fb4-bd6e-4de7-8bbe-ef453a88ab69
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=6f623fb4-bd6e-4de7-8bbe-ef453a88ab69
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Jan 2023 13:44:49 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.5LJuta&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 81edf8d2f2b08886acada5af6ba6624b
      X-Psn-Correlation-Id:
      - b1aba6cd-50cc-4b58-8c3a-4b70893a47c0
      X-Requestid:
      - 81edf8d2f2b08886acada5af6ba6624b
      X-Correlationid:
      - b1aba6cd-50cc-4b58-8c3a-4b70893a47c0
    body:
      encoding: UTF-8
      string: '{"access_token":"<PSN_TOKEN>","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 27 Jan 2023 13:44:49 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6588603711421927529/npCommunicationIds/NPWR22598_00/trophyGroups?npServiceName=trophy2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophySetVersion":"01.00","hiddenFlag":false,"progress":84,"earnedTrophies":{"bronze":28,"silver":10,"gold":4,"platinum":1},"lastUpdatedDateTime":"2022-05-19T11:36:10Z","trophyGroups":[{"trophyGroupId":"default","progress":100,"earnedTrophies":{"bronze":26,"silver":10,"gold":4,"platinum":1},"lastUpdatedDateTime":"2022-01-21T19:15:23Z"},{"trophyGroupId":"001","progress":100,"earnedTrophies":{"bronze":2,"silver":0,"gold":0,"platinum":0},"lastUpdatedDateTime":"2022-05-19T11:36:11Z"},{"trophyGroupId":"002","progress":0,"earnedTrophies":{"bronze":0,"silver":0,"gold":0,"platinum":0}}]}'
  recorded_at: Fri, 27 Jan 2023 13:44:49 GMT
recorded_with: VCR 6.1.0
