---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.playstation.PlayStationApp://redirect&response_type=code&scope=psn:mobile.v1%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 7020e20a46c265399f31b17630385897
      X-Psn-Correlation-Id:
      - 55831db3-3f8e-4756-9ed8-a0dc16ade9b5
      X-Requestid:
      - 7020e20a46c265399f31b17630385897
      X-Correlationid:
      - 55831db3-3f8e-4756-9ed8-a0dc16ade9b5
      Location:
      - com.playstation.PlayStationApp://redirect/?code=v1.Ab23CD&cid=55831db3-3f8e-4756-9ed8-a0dc16ade9b5
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 19 Aug 2022 14:48:40 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: client_id=<PSN_CLIENT_ID>&client_secret=&code=v3.febjSx&grant_type=authorization_code&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&scope=psn%3Amobile.v1+psn%3Aclientapp&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - d73d8d8fecd1e090c4c7f90af51c5ec3
      X-Psn-Correlation-Id:
      - 27b22012-39b9-4f0d-8b06-df52d30fd260
      X-Requestid:
      - d73d8d8fecd1e090c4c7f90af51c5ec3
      X-Correlationid:
      - 27b22012-39b9-4f0d-8b06-df52d30fd260
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v1
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 19 Aug 2022 14:48:40 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/me/npCommunicationIds/NPWR22598_00/trophyGroups?npServiceName=trophy2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophySetVersion":"01.00","hiddenFlag":false,"progress":100,"earnedTrophies":{"bronze":28,"silver":10,"gold":4,"platinum":1},"lastUpdatedDateTime":"2022-05-19T11:36:10Z","trophyGroups":[{"trophyGroupId":"default","progress":100,"earnedTrophies":{"bronze":26,"silver":10,"gold":4,"platinum":1},"lastUpdatedDateTime":"2022-01-21T19:15:23Z"},{"trophyGroupId":"001","progress":100,"earnedTrophies":{"bronze":2,"silver":0,"gold":0,"platinum":0},"lastUpdatedDateTime":"2022-05-19T11:36:11Z"}]}'
  recorded_at: Fri, 19 Aug 2022 14:19:22 GMT
recorded_with: VCR 6.1.0
