---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 6ba3ae1f3df3348719254f265a6feafd
      X-Psn-Correlation-Id:
      - 896310cf-0754-415e-a184-a0e1fecb585d
      X-Requestid:
      - 6ba3ae1f3df3348719254f265a6feafd
      X-Correlationid:
      - 896310cf-0754-415e-a184-a0e1fecb585d
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=896310cf-0754-415e-a184-a0e1fecb585d
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Jan 2023 13:44:47 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.gsHejT&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - c9523f77e75a2790c830fbf2754dd23c
      X-Psn-Correlation-Id:
      - 7e17830c-f2b5-45ae-a93b-9fac009bd56e
      X-Requestid:
      - c9523f77e75a2790c830fbf2754dd23c
      X-Correlationid:
      - 7e17830c-f2b5-45ae-a93b-9fac009bd56e
    body:
      encoding: UTF-8
      string: '{"access_token":"<PSN_TOKEN>","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 27 Jan 2023 13:44:48 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/npCommunicationIds/NPWR22598_00/trophyGroups?npServiceName=trophy2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophySetVersion":"01.00","trophyTitleName":"Hell Let Loose","trophyTitleIconUrl":"https://psnobj.prod.dl.playstation.net/psnobj/NPWR22598_00/3ed51d5f-36b0-4da2-ae2f-8b3c445237e5.png","trophyTitlePlatform":"PS5","definedTrophies":{"bronze":35,"silver":13,"gold":4,"platinum":1},"trophyGroups":[{"trophyGroupId":"default","trophyGroupName":"Hell
        Let Loose","trophyGroupIconUrl":"https://psnobj.prod.dl.playstation.net/psnobj/NPWR22598_00/3ed51d5f-36b0-4da2-ae2f-8b3c445237e5.png","definedTrophies":{"bronze":26,"silver":10,"gold":4,"platinum":1}},{"trophyGroupId":"001","trophyGroupName":"The
        Eastern Front","trophyGroupIconUrl":"https://psnobj.prod.dl.playstation.net/psnobj/NPWR22598_00/36701579-0464-492e-9fe4-c1b989e86951.png","definedTrophies":{"bronze":2,"silver":0,"gold":0,"platinum":0}},{"trophyGroupId":"002","trophyGroupName":"Burning
        Snow","trophyGroupIconUrl":"https://psnobj.prod.dl.playstation.net/psnobj/NPWR22598_00/3557ba97-c75e-4c86-99b7-ed823515e4f7.png","definedTrophies":{"bronze":7,"silver":3,"gold":0,"platinum":0}}]}'
  recorded_at: Fri, 27 Jan 2023 13:44:48 GMT
recorded_with: VCR 6.1.0
