---
http_interactions:
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: fields name;where id = 1009;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer fake_expired_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - d309f88c-003d-4ad3-a125-c42296767e9d
      X-Amzn-Errortype:
      - AccessDeniedException
      X-Amz-Apigw-Id:
      - CR8ZmFcBPHcFkSw=
    body:
      encoding: UTF-8
      string: |
        {
          "message": "Authorization Failure. Have you tried:",
          "Tip 1":   "Ensure you are sending Authorization and Client-ID as headers.",
          "Tip 2":   "Ensure Authorization value starts with 'Bearer ', including the space",
          "Tip 3":   "Ensure Authorization value ends with the App Access Token you generated, NOT your Client Secret.",
          "Docs":    "https://api-docs.igdb.com/#authentication",
          "Discord": "https://discord.gg/FrvfwQg"
        }
  recorded_at: Fri, 24 Mar 2023 09:58:20 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<IGDB_CLIENT_ID>&client_secret=<IGDB_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-641d743e-56945ff13ecb0039668a52d1
    body:
      encoding: UTF-8
      string: '{"access_token":"<IGDB_TOKEN>","expires_in":5113731,"token_type":"bearer"}

        '
  recorded_at: Fri, 24 Mar 2023 09:58:21 GMT
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: fields name;where id = 1009;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer <IGDB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - be45c9d2-39b0-46bc-a39e-da09b8289dfe
      X-Amzn-Remapped-Content-Length:
      - '56'
      X-Amz-Apigw-Id:
      - CR8Z3FmmvHcF-Fw=
      X-Count:
      - '1'
      X-Amzn-Remapped-Date:
      - Fri, 24 Mar 2023 09:58:22 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 1009,
            "name": "The Last of Us"
          }
        ]
  recorded_at: Fri, 24 Mar 2023 09:58:21 GMT
recorded_with: VCR 6.1.0
