---
http_interactions:
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: fields name;where id = 1009;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer fake_expired_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - c93f34d8-e6bb-48b8-b7d1-83422d54e71b
      X-Amzn-Errortype:
      - AccessDeniedException
      X-Amz-Apigw-Id:
      - Sb_cZFj_vIcFhgw=
    body:
      encoding: UTF-8
      string: |
        {
          "message": "Authorization Failure. Have you tried:",
          "Tip 1":   "Ensure you are sending Authorization and Client-ID as headers.",
          "Tip 2":   "Ensure Authorization value starts with 'Bearer ', including the space",
          "Tip 3":   "Ensure Authorization value ends with the App Access Token you generated, NOT your Client Secret.",
          "Docs":    "https://api-docs.igdb.com/#authentication",
          "Discord": "https://discord.gg/FrvfwQg"
        }
  recorded_at: Fri, 20 May 2022 18:35:45 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<IGDB_CLIENT_ID>&client_secret=<IGDB_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-6287df83-787e647d2bfd15e42011a82b
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","expires_in":5380354,"token_type":"bearer"}

        '
  recorded_at: Fri, 20 May 2022 18:35:46 GMT
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: fields name;where id = 1009;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer accesstoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Amzn-Requestid:
      - 3d140049-ea0f-4cc3-93c8-f3c762ade8ea
      X-Amzn-Remapped-Content-Length:
      - '56'
      X-Amz-Apigw-Id:
      - Sb_cpGbmevHcFhKw=
      X-Amzn-Remapped-Server:
      - Javalin
      X-Count:
      - '1'
      X-Amzn-Remapped-Date:
      - Fri, 20 May 2022 18:35:48 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 1009,
            "name": "The Last of Us"
          }
        ]
  recorded_at: Fri, 20 May 2022 18:35:47 GMT
recorded_with: VCR 6.1.0
