---
http_interactions:
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: fields name;where id = 1009;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer fake_expired_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - f1b8792b-ef0c-4c4a-9f1a-beb90d55a242
      X-Amzn-Errortype:
      - AccessDeniedException
      X-Amz-Apigw-Id:
      - frlv1GcsvHcFazg=
    body:
      encoding: UTF-8
      string: |
        {
          "message": "Authorization Failure. Have you tried:",
          "Tip 1":   "Ensure you are sending Authorization and Client-ID as headers.",
          "Tip 2":   "Ensure Authorization value starts with 'Bearer ', including the space",
          "Tip 3":   "Ensure Authorization value ends with the App Access Token you generated, NOT your Client Secret.",
          "Docs":    "https://api-docs.igdb.com/#authentication",
          "Discord": "https://discord.gg/FrvfwQg"
        }
  recorded_at: Wed, 01 Feb 2023 22:37:12 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<IGDB_CLIENT_ID>&client_secret=<IGDB_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-63dae999-7cce90cb731d94cc4975da52
    body:
      encoding: UTF-8
      string: '{"access_token":"<IGDB_TOKEN>","expires_in":4950283,"token_type":"bearer"}

        '
  recorded_at: Wed, 01 Feb 2023 22:37:13 GMT
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: fields name;where id = 1009;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer <IGDB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - d98c28b0-b9bd-4b1a-91d6-35a1965ef901
      X-Amzn-Remapped-Content-Length:
      - '56'
      X-Amz-Apigw-Id:
      - frlwDF9yPHcF-Gg=
      X-Count:
      - '1'
      X-Amzn-Remapped-Date:
      - Wed, 01 Feb 2023 22:37:13 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 1009,
            "name": "The Last of Us"
          }
        ]
  recorded_at: Wed, 01 Feb 2023 22:37:13 GMT
recorded_with: VCR 6.1.0
