---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - fee0ed7c33c5247d1475f24838623489
      X-Psn-Correlation-Id:
      - '04078c02-5d59-4653-b988-1898bbe8e677'
      X-Requestid:
      - fee0ed7c33c5247d1475f24838623489
      X-Correlationid:
      - '04078c02-5d59-4653-b988-1898bbe8e677'
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=04078c02-5d59-4653-b988-1898bbe8e677
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Jan 2023 13:44:41 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.QeUOt1&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - fdda80fe3ed81c618aaed21d1a9a7971
      X-Psn-Correlation-Id:
      - fac21922-9b5f-446e-99c2-c7fd509e3f68
      X-Requestid:
      - fdda80fe3ed81c618aaed21d1a9a7971
      X-Correlationid:
      - fac21922-9b5f-446e-99c2-c7fd509e3f68
    body:
      encoding: UTF-8
      string: '{"access_token":"<PSN_TOKEN>","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 27 Jan 2023 13:44:42 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6588603711421927529/npCommunicationIds/NPWR22792_00/trophyGroups/all/trophies?npServiceName=trophy2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophySetVersion":"01.00","hasTrophyGroups":false,"lastUpdatedDateTime":"2021-04-26T20:03:43Z","trophies":[{"trophyId":0,"trophyHidden":false,"earned":false,"trophyType":"platinum","trophyRare":0,"trophyEarnedRate":"0.1"},{"trophyId":1,"trophyHidden":false,"earned":true,"earnedDateTime":"2021-04-02T09:37:10Z","trophyType":"bronze","trophyRare":1,"trophyEarnedRate":"6.1"},{"trophyId":2,"trophyHidden":false,"earned":true,"earnedDateTime":"2021-04-11T20:54:21Z","trophyType":"gold","trophyRare":0,"trophyEarnedRate":"1.2"},{"trophyId":3,"trophyHidden":false,"earned":true,"earnedDateTime":"2021-03-30T20:35:28Z","trophyType":"gold","trophyRare":1,"trophyEarnedRate":"15.0"},{"trophyId":4,"trophyHidden":false,"earned":true,"earnedDateTime":"2021-04-11T21:33:19Z","trophyType":"bronze","t[...]
