---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<IGDB_CLIENT_ID>&client_secret=<IGDB_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-6287df80-37d0gh203171e70604a8e880
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","expires_in":5126358,"token_type":"bearer"}

        '
  recorded_at: Fri, 20 May 2022 18:35:43 GMT
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: fields name;where id = 1009;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer accesstoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Amzn-Requestid:
      - 465610ff-dc7a-4c0f-9930-0e93e79eeaf9
      X-Amzn-Remapped-Content-Length:
      - '56'
      X-Amz-Apigw-Id:
      - Sb_cRGnnPHcF7Tw=
      X-Amzn-Remapped-Server:
      - Javalin
      X-Count:
      - '1'
      X-Amzn-Remapped-Date:
      - Fri, 20 May 2022 18:35:45 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 1009,
            "name": "The Last of Us"
          }
        ]
  recorded_at: Fri, 20 May 2022 18:35:44 GMT
recorded_with: VCR 6.1.0
