---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<IGDB_CLIENT_ID>&client_secret=<IGDB_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-641d743b-46a2de5c00307adc2d59db7c
    body:
      encoding: UTF-8
      string: '{"access_token":"<IGDB_TOKEN>","expires_in":5599120,"token_type":"bearer"}

        '
  recorded_at: Fri, 24 Mar 2023 09:58:19 GMT
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: fields name;where id = 1009;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer <IGDB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 85cef9fe-deb5-4d20-816d-37dd30d8f39e
      X-Amzn-Remapped-Content-Length:
      - '56'
      X-Amz-Apigw-Id:
      - CR8ZfGVIvHcFyMA=
      X-Count:
      - '1'
      X-Amzn-Remapped-Date:
      - Fri, 24 Mar 2023 09:58:20 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 1009,
            "name": "The Last of Us"
          }
        ]
  recorded_at: Fri, 24 Mar 2023 09:58:19 GMT
recorded_with: VCR 6.1.0
