---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<IGDB_CLIENT_ID>&client_secret=<IGDB_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-63dae996-19f4ca8505d762c30892675b
    body:
      encoding: UTF-8
      string: '{"access_token":"<IGDB_TOKEN>","expires_in":5074622,"token_type":"bearer"}

        '
  recorded_at: Wed, 01 Feb 2023 22:37:10 GMT
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: fields name;where id = 1009;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer <IGDB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 9017bbb0-3a3d-4738-ac13-99c6d4f0d9ac
      X-Amzn-Remapped-Content-Length:
      - '56'
      X-Amz-Apigw-Id:
      - frlvuHNKvHcF9EA=
      X-Count:
      - '1'
      X-Amzn-Remapped-Date:
      - Wed, 01 Feb 2023 22:37:11 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 1009,
            "name": "The Last of Us"
          }
        ]
  recorded_at: Wed, 01 Feb 2023 22:37:11 GMT
recorded_with: VCR 6.1.0
