---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - ab7cb7fa8db96e1742fd0f9db9096b9a
      X-Psn-Correlation-Id:
      - b653994f-2d6e-4904-bd74-6a8bc7338bda
      X-Requestid:
      - ab7cb7fa8db96e1742fd0f9db9096b9a
      X-Correlationid:
      - b653994f-2d6e-4904-bd74-6a8bc7338bda
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=b653994f-2d6e-4904-bd74-6a8bc7338bda
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 24 Mar 2023 09:58:59 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.EQXAGF&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 485502ac261bfa19bf3978f325512042
      X-Psn-Correlation-Id:
      - 8c42a2fd-16bc-4b7a-9465-35a6962ea9a1
      X-Requestid:
      - 485502ac261bfa19bf3978f325512042
      X-Correlationid:
      - 8c42a2fd-16bc-4b7a-9465-35a6962ea9a1
    body:
      encoding: UTF-8
      string: '{"access_token":"<PSN_TOKEN>","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 24 Mar 2023 09:58:59 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/me/npCommunicationIds/NPWR00160_00/trophyGroups/all/trophies?npServiceName=trophy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophySetVersion":"01.10","hasTrophyGroups":false,"lastUpdatedDateTime":"2022-11-29T18:25:48Z","trophies":[{"trophyId":0,"trophyHidden":false,"earned":false,"trophyType":"platinum","trophyRare":0,"trophyEarnedRate":"0.4"},{"trophyId":1,"trophyHidden":false,"earned":true,"earnedDateTime":"2018-07-09T14:24:00Z","trophyType":"bronze","trophyRare":3,"trophyEarnedRate":"75.2"},{"trophyId":2,"trophyHidden":false,"earned":true,"earnedDateTime":"2018-07-10T22:16:27Z","trophyType":"bronze","trophyRare":3,"trophyEarnedRate":"57.5"},{"trophyId":3,"trophyHidden":false,"earned":true,"earnedDateTime":"2018-07-11T07:08:27Z","trophyType":"bronze","trophyRare":2,"trophyEarnedRate":"44.3"},{"trophyId":4,"trophyHidden":false,"earned":true,"earnedDateTime":"2018-07-11T11:15:52Z","trophyType":"bron[...]
