---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<IGDB_CLIENT_ID>&client_secret=<IGDB_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-641d7443-58b8626748c6f7ea3d5e50e6
    body:
      encoding: UTF-8
      string: '{"access_token":"<IGDB_TOKEN>","expires_in":4665897,"token_type":"bearer"}

        '
  recorded_at: Fri, 24 Mar 2023 09:58:26 GMT
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: |-
        fields name, genres.name, platforms.platform_family.name,
                  platforms.name, release_dates.date, release_dates.game,
                  release_dates.platform, release_dates.region;where name = "The Last of Us";
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer <IGDB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - eb6637dc-ce12-400f-8e93-cf93f9b64680
      X-Amzn-Remapped-Content-Length:
      - '676'
      X-Amz-Apigw-Id:
      - CR8auE_uPHcFyMg=
      X-Count:
      - '1'
      X-Amzn-Remapped-Date:
      - Fri, 24 Mar 2023 09:58:28 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 1009,
            "genres": [
              {
                "id": 5,
                "name": "Shooter"
              },
              {
                "id": 31,
                "name": "Adventure"
              }
            ],
            "name": "The Last of Us",
            "platforms": [
              {
                "id": 9,
                "name": "PlayStation 3",
                "platform_family": {
                  "id": 1,
                  "name": "PlayStation"
                }
              }
            ],
            "release_dates": [
              {
                "id": 106244,
                "date": 1371168000,
                "game": 1009,
                "platform": 9,
                "region": 2
              },
              {
                "id": 106245,
                "date": 1371168000,
                "game": 1009,
                "platform": 9,
                "region": 1
              }
            ]
          }
        ]
  recorded_at: Fri, 24 Mar 2023 09:58:27 GMT
recorded_with: VCR 6.1.0
