<div>
  <h2>Import From PSN</h2>
  <table>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Platform</th>
        <th scope="col">Progress</th>
      </tr>
    </thead>
    <tbody>
      <% @psn_games.each do |game| %>
        <tr>
          <td><%= game[:name] %></td>
          <td><%= game[:platform] %></td>
          <td><%= game[:progress] %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
