<div>
  <h2>Games</h2>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= game.id %></td>
          <td><%= link_to(game.name, game_path(game), action: 'show', class: 'nav-link') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
