<% content_for(:title) { "Games" } %>

<div class="games index">
  <h2>Games</h2>

  <table class="listing" summary="Game list">
    <tr class="header">
      <th></th>
      <th>Game</th>
    </tr>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= link_to(game.name, game_path(game), :class => 'action show') %></td>
      </tr>
    <% end %>
  </table>
</div>