---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 20a0261ba4f131d2ce9cfb9d797ab424
      X-Psn-Correlation-Id:
      - e44bee80-f8e6-4fc5-b632-da44c9d5fd54
      X-Requestid:
      - 20a0261ba4f131d2ce9cfb9d797ab424
      X-Correlationid:
      - e44bee80-f8e6-4fc5-b632-da44c9d5fd54
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=e44bee80-f8e6-4fc5-b632-da44c9d5fd54
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 24 Mar 2023 09:58:28 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.N34CJs&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 16fb8c33d4dbaeeedc7c2de1e027f980
      X-Psn-Correlation-Id:
      - 31a4f593-0e07-43b2-aa5c-b60d42959e9d
      X-Requestid:
      - 16fb8c33d4dbaeeedc7c2de1e027f980
      X-Correlationid:
      - 31a4f593-0e07-43b2-aa5c-b60d42959e9d
    body:
      encoding: UTF-8
      string: '{"access_token":"<PSN_TOKEN>","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 24 Mar 2023 09:58:28 GMT
recorded_with: VCR 6.1.0
