---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 62ff50fc6fbfe59325002a02c0d05a0f
      X-Psn-Correlation-Id:
      - 76cf70a9-4de6-4cba-9448-2012fb069eb2
      X-Requestid:
      - 62ff50fc6fbfe59325002a02c0d05a0f
      X-Correlationid:
      - 76cf70a9-4de6-4cba-9448-2012fb069eb2
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=76cf70a9-4de6-4cba-9448-2012fb069eb2
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 20 Jan 2023 22:41:17 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.EMcBA0&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 605d6c95a68ff551c2fb065aa79e796f
      X-Psn-Correlation-Id:
      - 67fbcdb2-a8e0-4d05-a5ed-0180795d6232
      X-Requestid:
      - 605d6c95a68ff551c2fb065aa79e796f
      X-Correlationid:
      - 67fbcdb2-a8e0-4d05-a5ed-0180795d6232
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 20 Jan 2023 22:41:21 GMT
recorded_with: VCR 6.1.0
