---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 76034c11d7608d15ed427e3e20e12691
      X-Psn-Correlation-Id:
      - f84ca618-3012-4cbc-87ce-7307140f56ab
      X-Requestid:
      - 76034c11d7608d15ed427e3e20e12691
      X-Correlationid:
      - f84ca618-3012-4cbc-87ce-7307140f56ab
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=f84ca618-3012-4cbc-87ce-7307140f56ab
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Jan 2023 13:44:25 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.Lrf5Md&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 6f4b258dc17694f1986b63feb67ab0e2
      X-Psn-Correlation-Id:
      - 9995c963-06bb-4798-ba6e-50b4f3e61912
      X-Requestid:
      - 6f4b258dc17694f1986b63feb67ab0e2
      X-Correlationid:
      - 9995c963-06bb-4798-ba6e-50b4f3e61912
    body:
      encoding: UTF-8
      string: '{"access_token":"<PSN_TOKEN>","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 27 Jan 2023 13:44:26 GMT
recorded_with: VCR 6.1.0
