---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.playstation.PlayStationApp://redirect&response_type=code&scope=psn:mobile.v1%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - fa9a8e7f97e4a9637a54e24e6c094120
      X-Psn-Correlation-Id:
      - 66e921f6-ed99-466e-8df5-63923d709ff8
      X-Requestid:
      - fa9a8e7f97e4a9637a54e24e6c094120
      X-Correlationid:
      - 66e921f6-ed99-466e-8df5-63923d709ff8
      Location:
      - com.playstation.PlayStationApp://redirect/?code=v1.Ab23CD&cid=66e921f6-ed99-466e-8df5-63923d709ff8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 19 Aug 2022 14:18:26 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: client_id=<PSN_CLIENT_ID>&client_secret=&code=v3.xaKvfS&grant_type=authorization_code&redirect_uri=com.playstation.PlayStationApp%3A%2F%2Fredirect&scope=psn%3Amobile.v1+psn%3Aclientapp&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 7abf8043cab4b392c1ba583245a62d0c
      X-Psn-Correlation-Id:
      - 48cd2250-0ce5-4946-bebe-fe3f1f348ed0
      X-Requestid:
      - 7abf8043cab4b392c1ba583245a62d0c
      X-Correlationid:
      - 48cd2250-0ce5-4946-bebe-fe3f1f348ed0
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v1
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 19 Aug 2022 14:18:26 GMT
recorded_with: VCR 6.1.0
