---
http_interactions:
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: |-
        fields name, genres.name, platforms.platform_family.name,
                                    platforms.name, release_dates.date, release_dates.game,
                                    release_dates.platform, release_dates.region;where id = 1009;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer <IGDB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 311a03ef-1c48-409d-b55c-fad686bc2b9b
      X-Amzn-Remapped-Content-Length:
      - '676'
      X-Amz-Apigw-Id:
      - frl6TGFjvHcFjjw=
      X-Count:
      - '1'
      X-Amzn-Remapped-Date:
      - Wed, 01 Feb 2023 22:38:19 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 1009,
            "genres": [
              {
                "id": 5,
                "name": "Shooter"
              },
              {
                "id": 31,
                "name": "Adventure"
              }
            ],
            "name": "The Last of Us",
            "platforms": [
              {
                "id": 9,
                "name": "PlayStation 3",
                "platform_family": {
                  "id": 1,
                  "name": "PlayStation"
                }
              }
            ],
            "release_dates": [
              {
                "id": 106244,
                "date": 1371168000,
                "game": 1009,
                "platform": 9,
                "region": 2
              },
              {
                "id": 106245,
                "date": 1371168000,
                "game": 1009,
                "platform": 9,
                "region": 1
              }
            ]
          }
        ]
  recorded_at: Wed, 01 Feb 2023 22:38:19 GMT
recorded_with: VCR 6.1.0
