---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=<IGDB_CLIENT_ID>&client_secret=<IGDB_CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ctxlog-Logid:
      - 1-62950436-308a43a493d7216212148061
    body:
      encoding: UTF-8
      string: '{"access_token":"accesstoken","expires_in":5314769,"token_type":"bearer"}

        '
  recorded_at: Mon, 30 May 2022 17:51:49 GMT
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: |-
        fields name, genres.name, platforms.platform_family.name,
                                    platforms.name, release_dates.date, release_dates.game,
                                    release_dates.platform, release_dates.region;where id = 1009;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer accesstoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Amzn-Requestid:
      - dc82448d-41aa-4141-8955-00e4ddab9d5c
      X-Amzn-Remapped-Content-Length:
      - '676'
      X-Amz-Apigw-Id:
      - S84smHYtvHcFwhg=
      X-Amzn-Remapped-Server:
      - Javalin
      X-Count:
      - '1'
      X-Amzn-Remapped-Date:
      - Mon, 30 May 2022 18:07:38 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 1009,
            "genres": [
              {
                "id": 5,
                "name": "Shooter"
              },
              {
                "id": 31,
                "name": "Adventure"
              }
            ],
            "name": "The Last of Us",
            "platforms": [
              {
                "id": 9,
                "name": "PlayStation 3",
                "platform_family": {
                  "id": 1,
                  "name": "PlayStation"
                }
              }
            ],
            "release_dates": [
              {
                "id": 106244,
                "date": 1371168000,
                "game": 1009,
                "platform": 9,
                "region": 2
              },
              {
                "id": 106245,
                "date": 1371168000,
                "game": 1009,
                "platform": 9,
                "region": 1
              }
            ]
          }
        ]
  recorded_at: Mon, 30 May 2022 18:07:36 GMT
recorded_with: VCR 6.1.0
