---
http_interactions:
- request:
    method: post
    uri: https://api.igdb.com/v4/games
    body:
      encoding: UTF-8
      string: |-
        fields name, genres.name, platforms.platform_family.name,
                                    platforms.name, release_dates.date, release_dates.game,
                                    release_dates.platform, release_dates.region;where id = 1009;
    headers:
      Client-Id:
      - "<IGDB_CLIENT_ID>"
      Authorization:
      - Bearer y6ar58fuasrdv8vr844kagyxjvwbhm
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Amzn-Requestid:
      - 31a7bbc4-1ab4-4c7e-84e3-6e7eb2c6e519
      X-Amzn-Remapped-Content-Length:
      - '676'
      X-Amz-Apigw-Id:
      - S8mjOEwdPHcFrOg=
      X-Amzn-Remapped-Server:
      - Javalin
      X-Count:
      - '1'
      X-Amzn-Remapped-Date:
      - Mon, 30 May 2022 16:03:45 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "id": 1009,
            "genres": [
              {
                "id": 5,
                "name": "Shooter"
              },
              {
                "id": 31,
                "name": "Adventure"
              }
            ],
            "name": "The Last of Us",
            "platforms": [
              {
                "id": 9,
                "name": "PlayStation 3",
                "platform_family": {
                  "id": 1,
                  "name": "PlayStation"
                }
              }
            ],
            "release_dates": [
              {
                "id": 106244,
                "date": 1371168000,
                "game": 1009,
                "platform": 9,
                "region": 2
              },
              {
                "id": 106245,
                "date": 1371168000,
                "game": 1009,
                "platform": 9,
                "region": 1
              }
            ]
          }
        ]
  recorded_at: Mon, 30 May 2022 16:03:44 GMT
recorded_with: VCR 6.1.0
