---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - b0f249909716013f4a53090ed51da552
      X-Psn-Correlation-Id:
      - 9f499230-3791-47b2-821f-07e3f0799a29
      X-Requestid:
      - b0f249909716013f4a53090ed51da552
      X-Correlationid:
      - 9f499230-3791-47b2-821f-07e3f0799a29
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=9f499230-3791-47b2-821f-07e3f0799a29
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Jan 2023 13:44:44 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.aeHQmk&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 1367ba5e80a37c759f9e99ec395d5428
      X-Psn-Correlation-Id:
      - bbe169ca-e842-413e-bf55-289b541737c5
      X-Requestid:
      - 1367ba5e80a37c759f9e99ec395d5428
      X-Correlationid:
      - bbe169ca-e842-413e-bf55-289b541737c5
    body:
      encoding: UTF-8
      string: '{"access_token":"<PSN_TOKEN>","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 27 Jan 2023 13:44:45 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/npCommunicationIds/NPWR22792_00/trophies/0?npServiceName=trophy2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophySetVersion":"01.00","trophyId":0,"trophyHidden":false,"trophyType":"platinum","trophyName":"Hall
        of Fame","trophyDetail":"Unlock all Destruction AllStars Trophies","trophyIconUrl":"https://psnobj.prod.dl.playstation.net/psnobj/NPWR22792_00/22495328-c5ad-4cf1-be7c-e8be615a6c5b.png","trophyGroupId":"default","trophyRewardName":"Profile
        Banner","trophyRewardImageUrl":"https://psnobj.prod.dl.playstation.net/psnobj/NPWR22792_00/3433d6c0-fa6e-43e1-a557-c4d71f7c2400.png"}'
  recorded_at: Fri, 27 Jan 2023 13:44:45 GMT
recorded_with: VCR 6.1.0
