---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 5d497e5c0fc03581a8dfd3879a21875e
      X-Psn-Correlation-Id:
      - 11c32093-753a-4696-94f5-29997c8eccfa
      X-Requestid:
      - 5d497e5c0fc03581a8dfd3879a21875e
      X-Correlationid:
      - 11c32093-753a-4696-94f5-29997c8eccfa
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=11c32093-753a-4696-94f5-29997c8eccfa
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 24 Mar 2023 09:58:48 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.DttvbH&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 8fe217c74a0bb1bb3965ba2179cb1aa3
      X-Psn-Correlation-Id:
      - 2b66309c-6a44-453e-a3c0-fe15cff16ab8
      X-Requestid:
      - 8fe217c74a0bb1bb3965ba2179cb1aa3
      X-Correlationid:
      - 2b66309c-6a44-453e-a3c0-fe15cff16ab8
    body:
      encoding: UTF-8
      string: '{"access_token":"<PSN_TOKEN>","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 24 Mar 2023 09:58:48 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6588603711421927529/npCommunicationIds/NPWR22792_00/trophies/1?npServiceName=trophy2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophyId":1,"earned":true,"earnedDateTime":"2021-04-02T09:37:10Z","trophyRare":1,"trophyEarnedRate":"6.1"}'
  recorded_at: Fri, 24 Mar 2023 09:58:49 GMT
recorded_with: VCR 6.1.0
