---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 4406e8531c46a8bf6d0ee72fab663b96
      X-Psn-Correlation-Id:
      - bad3d410-56c5-4439-8378-321e0474729b
      X-Requestid:
      - 4406e8531c46a8bf6d0ee72fab663b96
      X-Correlationid:
      - bad3d410-56c5-4439-8378-321e0474729b
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=bad3d410-56c5-4439-8378-321e0474729b
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Jan 2023 13:44:46 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.tjG9gu&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - dd40130f42a95acf11ff6a432b5c7073
      X-Psn-Correlation-Id:
      - 4537e97d-16a2-45f5-b53b-26d64faef904
      X-Requestid:
      - dd40130f42a95acf11ff6a432b5c7073
      X-Correlationid:
      - 4537e97d-16a2-45f5-b53b-26d64faef904
    body:
      encoding: UTF-8
      string: '{"access_token":"<PSN_TOKEN>","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 27 Jan 2023 13:44:47 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6588603711421927529/npCommunicationIds/NPWR22792_00/trophies/1?npServiceName=trophy2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophyId":1,"earned":true,"earnedDateTime":"2021-04-02T09:37:10Z","trophyRare":1,"trophyEarnedRate":"6.1"}'
  recorded_at: Fri, 27 Jan 2023 13:44:47 GMT
recorded_with: VCR 6.1.0
