---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 9d1b418255d142e9ca208c52ab421e89
      X-Psn-Correlation-Id:
      - 44d845bb-1637-44eb-b62d-f64efbf48b61
      X-Requestid:
      - 9d1b418255d142e9ca208c52ab421e89
      X-Correlationid:
      - 44d845bb-1637-44eb-b62d-f64efbf48b61
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=44d845bb-1637-44eb-b62d-f64efbf48b61
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 24 Mar 2023 09:59:00 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.ukpaNs&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 2fdba284b845a6da1d1c3e5fd3cddbfe
      X-Psn-Correlation-Id:
      - 05f9e31d-a1f5-4154-a10a-b5ec44f9958f
      X-Requestid:
      - 2fdba284b845a6da1d1c3e5fd3cddbfe
      X-Correlationid:
      - 05f9e31d-a1f5-4154-a10a-b5ec44f9958f
    body:
      encoding: UTF-8
      string: '{"access_token":"<PSN_TOKEN>","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 24 Mar 2023 09:59:01 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6588603711421927529/npCommunicationIds/NPWR22792_00/trophyGroups/all/trophies?npServiceName=trophy2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"trophySetVersion":"01.00","hasTrophyGroups":false,"lastUpdatedDateTime":"2021-04-26T20:03:43Z","trophies":[{"trophyId":0,"trophyHidden":false,"earned":false,"trophyType":"platinum","trophyRare":0,"trophyEarnedRate":"0.1"},{"trophyId":1,"trophyHidden":false,"earned":true,"earnedDateTime":"2021-04-02T09:37:10Z","trophyType":"bronze","trophyRare":1,"trophyEarnedRate":"6.1"},{"trophyId":2,"trophyHidden":false,"earned":true,"earnedDateTime":"2021-04-11T20:54:21Z","trophyType":"gold","trophyRare":0,"trophyEarnedRate":"1.2"},{"trophyId":3,"trophyHidden":false,"earned":true,"earnedDateTime":"2021-03-30T20:35:28Z","trophyType":"gold","trophyRare":1,"trophyEarnedRate":"14.8"},{"trophyId":4,"trophyHidden":false,"earned":true,"earnedDateTime":"2021-04-11T21:33:19Z","trophyType":"bronze","t[...]
