---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 6dd81e23de27e57c30f7d541be29d913
      X-Psn-Correlation-Id:
      - afe0f575-c5fc-4626-922d-3e0f601f0cd0
      X-Requestid:
      - 6dd81e23de27e57c30f7d541be29d913
      X-Correlationid:
      - afe0f575-c5fc-4626-922d-3e0f601f0cd0
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=afe0f575-c5fc-4626-922d-3e0f601f0cd0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Jan 2023 13:44:43 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.7JCEwC&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - 8dd78c41976a9d09edaef0c0cf116a79
      X-Psn-Correlation-Id:
      - a4087874-2e1b-4385-aa9d-cc68e9df4fff
      X-Requestid:
      - 8dd78c41976a9d09edaef0c0cf116a79
      X-Correlationid:
      - a4087874-2e1b-4385-aa9d-cc68e9df4fff
    body:
      encoding: UTF-8
      string: '{"access_token":"<PSN_TOKEN>","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 27 Jan 2023 13:44:43 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6588603711421927529/titles/trophyTitles?npTitleIds=PPSA04874_00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"titles":[{"npTitleId":"PPSA04874_00","trophyTitles":[{"npServiceName":"trophy2","npCommunicationId":"NPWR25959_00","trophyTitleName":"Apex
        Legends Trophies","trophyTitleIconUrl":"https://psnobj.prod.dl.playstation.net/psnobj/NPWR25959_00/89e1d6f5-0bed-464f-8bdb-2cad32c4423d.png","hasTrophyGroups":false,"rarestTrophies":[{"trophyId":9,"trophyHidden":false,"trophyType":"bronze","trophyName":"Apex
        Support","trophyDetail":"Win a game as a support character","trophyIconUrl":"https://psnobj.prod.dl.playstation.net/psnobj/NPWR25959_00/92b4050e-65b6-4f44-9fdf-5570dc2eeda0.png","trophyRare":2,"trophyEarnedRate":"19.8","earned":true,"earnedDateTime":"2022-04-01T16:47:09Z"}],"progress":100,"earnedTrophies":{"bronze":9,"silver":2,"gold":1,"platinum":0},"definedTrophies":{"bronze":9,"silver":2,"gold":1,"platinum":0},"lastUpdatedDateTime":"2022-04-02T08:54:36Z"}]}]}'
  recorded_at: Fri, 27 Jan 2023 13:44:44 GMT
recorded_with: VCR 6.1.0
