---
http_interactions:
- request:
    method: get
    uri: https://ca.account.sony.com/api/authz/v3/oauth/authorize?access_type=offline&client_id=<PSN_CLIENT_ID>&redirect_uri=com.scee.psxandroid.scecompcall://redirect&response_type=code&scope=psn:mobile.v2.core%20psn:clientapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      X-Psn-Request-Id:
      - 709c1ed6e22a1173824ad59db70d2baa
      X-Psn-Correlation-Id:
      - aeb0f4a0-3728-4053-b76b-a356a03fdbb7
      X-Requestid:
      - 709c1ed6e22a1173824ad59db70d2baa
      X-Correlationid:
      - aeb0f4a0-3728-4053-b76b-a356a03fdbb7
      Location:
      - com.scee.psxandroid.scecompcall://redirect/?code=v1.Ab23CD&cid=aeb0f4a0-3728-4053-b76b-a356a03fdbb7
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 24 Mar 2023 09:58:45 GMT
- request:
    method: post
    uri: https://ca.account.sony.com/api/authz/v3/oauth/token
    body:
      encoding: UTF-8
      string: code=v3.3WDxfv&grant_type=authorization_code&redirect_uri=com.scee.psxandroid.scecompcall%3A%2F%2Fredirect&token_format=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic <PSN_BASIC>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Psn-Request-Id:
      - c4cf012fda6bf47de2eccd5a8da4cd3a
      X-Psn-Correlation-Id:
      - 33ecf57a-c1f2-441c-91a3-20d0b4db35be
      X-Requestid:
      - c4cf012fda6bf47de2eccd5a8da4cd3a
      X-Correlationid:
      - 33ecf57a-c1f2-441c-91a3-20d0b4db35be
    body:
      encoding: UTF-8
      string: '{"access_token":"<PSN_TOKEN>","token_type":"bearer","expires_in":3599,"scope":"psn:mobile.v2.core
        psn:clientapp","id_token":"idtoken","refresh_token":"refreshtoken","refresh_token_expires_in":5183999}'
  recorded_at: Fri, 24 Mar 2023 09:58:45 GMT
- request:
    method: get
    uri: https://ps5.np.playstation.net/api/trophy/v1/users/6588603711421927529/titles/trophyTitles?npTitleIds=PPSA04874_00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PSN_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"titles":[{"npTitleId":"PPSA04874_00","trophyTitles":[{"npServiceName":"trophy2","npCommunicationId":"NPWR25959_00","trophyTitleName":"Apex
        Legends Trophies","trophyTitleIconUrl":"https://psnobj.prod.dl.playstation.net/psnobj/NPWR25959_00/89e1d6f5-0bed-464f-8bdb-2cad32c4423d.png","hasTrophyGroups":false,"rarestTrophies":[{"trophyId":8,"trophyHidden":false,"trophyType":"bronze","trophyName":"Apex
        Defense","trophyDetail":"Win a game as a defensive character","trophyIconUrl":"https://psnobj.prod.dl.playstation.net/psnobj/NPWR25959_00/5573b446-9c2b-40c3-9db0-8943a818191c.png","trophyRare":2,"trophyEarnedRate":"19.8","earned":true,"earnedDateTime":"2022-04-01T16:04:31Z"}],"progress":100,"earnedTrophies":{"bronze":9,"silver":2,"gold":1,"platinum":0},"definedTrophies":{"bronze":9,"silver":2,"gold":1,"platinum":0},"lastUpdatedDateTime":"2022-04-02T08:54:36Z"}]}]}'
  recorded_at: Fri, 24 Mar 2023 09:58:46 GMT
recorded_with: VCR 6.1.0
